@import url('https://fonts.google.com/specimen/Poppins');
@font-face {
    font-family: PoppinsBold;
    src: url(/Poppins-ExtraBoldItalic.ttf);
}

@font-face {
    font-family: PoppinsItalic;
    src: url(/Poppins-Italic.ttf);
}

@font-face {
    font-family: PoppinsExtraBold;
    src: url(/Poppins-ExtraBold.ttf);
}




/* Default Mobile Styles */

body{
    font-family: 'Poppins';
    margin:0;
    padding: 0;
    background-color: #F0F0F0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__container{
    width: 320px;
    height: 486px;
    margin-top: 5rem;
    background-color: white;
    border-radius: 5%;
    border-bottom-right-radius: 20%;
    box-shadow: 5px 10px gray;
}

input{
    width: 4.5rem;
    height: 54px;
    border-radius: 10%;
    border: solid 0.5px #DCDCDC;
    padding-left:0.5rem;
}

.inputs__container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform:uppercase;
    width:295px;
    padding:2rem 1rem 1rem 1rem;
}

.input__feature__container{
    padding:0.5rem;
}

.input__header{
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
    color: grey;
}

.date__input{
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1px;
}

.divider__container{
    border: 1px solid rgba(128, 128, 128, 0.34);
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top:3rem;
}

.divider__arrow{
    background-color: #854DFF;
    width:64px;
    height:64px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    translate: 0% -50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border:none;
    transition: all 0.3s ease; 
}

.divider__arrow:hover{
    cursor: pointer;
    transform: scale(1.1);
 
}
.divider__arrow:active{
    cursor: pointer;
    transform: scale(1.2);
    background-color: #854dffdc;
  
 
}

.date__wrapper{
    font-size: 56px;
    font-family: PoppinsExtraBold;
    letter-spacing: -2%;
    line-height: 110%;
}

.date__container{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 2rem;
}

.date__result{
    font-weight: 1400;
    color: #854DFF;
}

.date__header{
    margin-left: 1rem;
}

.button:hover {
    cursor:pointer;
}

/* Invalid States */

.invalidMessage {
    display:none;
}

.invalidMessageActive {
    display:block;
}

.invalid__states{
    font-size: 14px;
    text-transform: none;
    font-family:PoppinsItalic ;
    font-weight: 400;
    color:red;
    letter-spacing: 0.2px;

}

.invalid {
    color:red;
    border-color: red;
}


/* Tablet/Desktop Styles */

@media (min-width: 48rem) {
    .card__container{
        width: 840px;
        height: 651px;
        margin-top: 5rem;
    }
    
    svg{
        width: 44px;
        height: 44px;
    }

    .inputs__container{
        width:728px;
        margin-top: 1rem;
        margin-bottom: -2rem;
        margin-left: 3rem;
        align-items: flex-start;
        justify-content: flex-start;

    }

    input{
        width: 10rem;
        height: 4.5rem;
        height: 54px;
        border-radius: 5%;
        border: solid 0.5px #DCDCDC;
        padding-left:1.5rem;
        
    }

    .date__wrapper{
        margin-left: 3rem;
        font-size: 104px;
        font-family: PoppinsExtraBold;
        letter-spacing: -2%;
        line-height: 110%;
    }

    .divider__arrow{
        width:96px;
        height:96px;
        translate: 325% -50%;
    }
    .date__wrapper{
        margin-top: -3rem;
    }
    /* Invalid States */

    
  }